*{
   box-sizing: border-box;
}
%wrapper{
	max-width: 1282px;
	width: 100%;
	margin: 0 auto;
}
.wrapper_sm{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
body {
  min-width: 1282px;
  position: relative;
}