extends layout
block title
	title=title
block styles
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900", rel="stylesheet")
block header
	include header/index
	include pluses/index
block main
	include product/index
	include eventSlider/index
	include hotProducts/index
	include populars/index
	include sliderLogo/index
block footer
	include footer/index
block scripts
	script(src="/js/bundle.js")

	//- .search-div
	//- 	img.search-img(src="/images/assets/magnifying-glass-browser.png")
	//- 	p.field 
	//- 		input(type="search" name="field" id="search" placeholder="Поиск по сайту..")
	//- //- each product in mainProducts//- 
	//- 	.product
	//- 		h1(class="blue")= product.name
	//- 		if product.sale
	//- 			p SALE
	//- 			p old price #{product.oldPrice}
	//- 		p PRICE #{product.price}
	//- 		img(src= product.image)