html
	head
		meta(charset="UTF-8")
		block title
		block styles
	body
		#sprites(style="display: none")
			include symbol/svg/sprite.symbol.svg
		block header
		block main
		block footer
		block scripts
