.wrapper
	.sliderLogo
		.sliderLogo__container.owl-carousel
			.sliderLogo__item
				img(src="/images/assets/logo1.png")
			.sliderLogo__item
				img(src="/images/assets/logo2.png")
			.sliderLogo__item
				img(src="/images/assets/logo3.png")
			.sliderLogo__item
				img(src="/images/assets/logo4.png")
			.sliderLogo__item
				img(src="/images/assets/logo4.png")
