mixin eventSlider(description, date, type, image)
	.eventSlider__item
		img.eventSlider__image(src=image)
		.eventSlider__container
			.eventSlider__type=type
			.eventSlider__description=description
			.eventSlider__date=date
