
.footer
	.wrapper_sm
		.footer__container
			img.footer__logo(src="/images/assets/ModaX.png")
			ul.footer__menu
				a.footer__link(href="#")
					li.footer__item man
				a.footer__link(href="#")
					li.footer__item woman
				a.footer__link(href="#")
					li.footer__item lookbook
				a.footer__link(href="#")
					li.footer__item slae
				a.footer__link(href="#")
					li.footer__item blog
			.footer__contacts
				.footer__caption contact us
				.footer__description San Francisco, California 400 Castro St, San Francisco, CA (+1) 686-868-9999
				.footer__cards
					img.footer__card(src="/images/assets/card1.png")
					img.footer__card(src="/images/assets/card2.png")
					img.footer__card(src="/images/assets/card3.png")
					img.footer__card(src="/images/assets/card4.png")
					img.footer__card(src="/images/assets/card5.png")
			.footer__social
				a.footer__linkSoc(href="#")
					svg.footer__socItem
						use(xlink:href="#facebook-logo")
				a.footer__linkSoc(href="#")
					svg.footer__socItem
						use(xlink:href="#twitter-logo-silhouette")
				a.footer__linkSoc(href="#")
					svg.footer__socItem
						use(xlink:href="#behance-logo")
				a.footer__linkSoc(href="#")
					svg.footer__socItem
						use(xlink:href="#dribbble-logo")
				a.footer__linkSoc(href="#")
					svg.footer__socItem
						use(xlink:href="#linkedin-logo")
			.contacts
				label.contacts__label(for="contacts-form") 
					span.contacts__labelText Subscribe to news
				.contacts__container
					input.contacts__form(name="contacts-form" type="mail" id="contacts-form" placeholder="Email Adrress")
					input.contacts__input(type="submit" value="submit")