mixin slides(title, image)
	.main-slider__item(style=`background-image:url("${image}")`)
		h1.main-slider__caption=title
.main-slider
	.main-slider__container.owl-carousel
		each slide in indexSlider
			+slides(slide.header, slide.image )